Language: Cpp
BasedOnStyle: Google

AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AllowShortCaseLabelsOnASingleLine: true
BreakConstructorInitializers: BeforeComma
DerivePointerAlignment: false
IndentWidth: 4
InsertNewlineAtEOF: true
PointerAlignment: Left
SortIncludes: true
TabWidth: 4
UseTab: Never
