Language: Cpp
BasedOnStyle: Google

AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
BreakConstructorInitializers: BeforeComma
IndentWidth: 4
InsertNewlineAtEOF: true
SortIncludes:    true
TabWidth: 4
UseTab: Never
