Language:        Cpp
BasedOnStyle:    Google
IndentWidth:     4
TabWidth:        4
UseTab:          Never
AccessModifierOffset: -4
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AllowShortFunctionsOnASingleLine: None
SpacesInParentheses: false
BreakConstructorInitializers: BeforeComma
SortIncludes:    true
